body {
    background-color: aqua;
}

#main-container {
    border: black solid 1px;
    width: 380px;
    height: 600px;
    border-radius: 20px;
    background-color: black;
}

#display {
    border: white solid 1px;
    width: 90%;
    margin: 30px auto;
    height: 180px;
    color: white;
    
}

#buttons {
    border: white solid 1px;
    width: 90%;
    margin: 10px auto;
    height: 336px;
    display: flex;
    flex-wrap: wrap;
}
#buttons > .button {
    width: 70px;
    margin: 2px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
}


.button {
    color: white;
    border: white solid 1px;
    /* height: 60px; */

    border-radius: 100%;
    align-items: center;
}